dados_gerados/
mutation_dataset_02-06/
mutation_dataset_10-06_v0/
mutation_dataset_10-06_v1/
mutation_dataset_10-06_v2/
mutation_dataset_10-06_v3/
mutation_dataset_10-06_v4/
mutation_dataset_10-06_v5/
mutation_dataset_10-06_v6/
mutation_dataset_10-06_v7/
mutation_dataset_10-06_v8/
mutation_dataset_10-06_v9/
mutation_dataset_100k_phyloCNN/
neural_networks_dot_keras/
phyloCNN-main/CI/
phyloCNN-main/Empirical_Datasets/
phyloCNN-main/Encoding/
phyloCNN-main/Model_adequacy/
phyloCNN-main/Simulations/
phyloCNN-main/Test_Sets/
phyloCNN-main/Trained_Models/
phyloCNN-main/Tutorial_ModelSelection/
phyloCNN-main/environment.yml
phyloCNN-main/README.md
Vinicius/
.venv/
.vscode/
